.hero {
	background-color: #fffdf8;
}

.hero h1 {
	color: #000000;
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
}

.hero h2 {
	color: #9f7303;
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
}

.hero__color {
	color: #9f7303;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}
