.main-header {
	position: relative;
	z-index: 3;

	@media #{$not-mobile} {
		--has-separator: none;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2em;
		padding-block: 25px;
	}

	&--has-no-separator {
		--has-separator: none;
	}
}

.main-header__logo {
	width: 267px;
	height: 47px;
}
