<footer class="main-footer">
	<div class="feedback">
		<h2>Оставить отзыв </h2>
		<textarea class="feedback__about-project" placeholder="Расскажите, что вы думаете о проекте" cols="110" rows="16" name="text"></textarea>
		<textarea class="feedback__name" placeholder="Ваше имя" rows="6" cols="54" name="text"></textarea>
		<button type="button" class="feedback__button">Отправить</button>
		<p class="feedback__description">Отзыв будет добавлен после проверки модератором</p>
	</div>

	<div></div>
</footer>
