<header class="main-header">
	<a href="#" class="main-header__logo">
		<img src="#" alt="Логотип сайта">
	</a>

	<nav class="main-nav main-nav--nojs">
		<h3>Наши проекты</h3>
		<button class="main-nav__toogle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-nav__list">
			<li class="main-nav__item">
				<a class="main-nav__link">Tomazzi Hall</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link">Lounge Hall</a>
			</li>
			<li class="main-nav__item">
				<a class="main-nav__link">Astra Hall</a>
			</li>
		</ul>
	</nav>

	<p class="main-header__descriotion">Контакты</p>
	<button type="button" class="main-header__button">Оставить отзыв</button>


</header>
